name: Build And Deploy (Legacy [gh-pages])
on:
  push:
    branches-ignore:
      - gh-pages
  workflow_dispatch:
  # pull_request
jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          persist-credentials: false
          submodules: 'recursive'
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '22'
      - name: Build
        run: npm install && npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        with:
          BRANCH: gh-pages
          FOLDER: docs
          CLEAN: true
